{% extends 'base.html.twig' %}

{% block title %}plaisir vie{% endblock %}

{% block body %}
 <h1>Inscription sur notre application</h1>
 {% for message in app.flashes('success_registration') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
 {{ form_start(form)}}
  <fieldset>
 <div class="form-group">
 {{ form_row(form.nom, {'label':'Nom','attr':{ 'placeholder':'Votre nom ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form.prenom, {'label':'Prénom','attr':{ 'placeholder':'Votre prénom ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form.telephone, {'label':'Téléphone','attr':{ 'placeholder':'Votre Numero de téléphone ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form.adresse, {'label':'Adresse','attr':{ 'placeholder':'Votre adresse ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form.email, {'label':'Email','attr':{ 'placeholder':'Votre adresse mail ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form.password, {'label':'Mot de passe','attr':{ 'placeholder':'Votre mot de passe ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form.confirm_password, {'label':'Confirmé votre mot de passe','attr':{ 'placeholder':'Confirmé votre mot de passse ...','class':'form-control'} })}}
</div>
 <button type="submit" class="btn btn-success">Inscription</button> <br> <br>
  </fieldset>
 {{ form_end(form)}}

{% endblock %}