{% extends 'base.html.twig' %}

{% block title %}Plaisir vie{% endblock %}

{% block body %}

<h1>Creation d'un menu</h1>
{{ form_start(form_menu)}}
  <fieldset>
 <div class="form-group">
 {{ form_row(form_menu.nom, {'label':'Nom du menu','attr':{ 'placeholder':'Le nom du menu ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form_menu.boisson, {'label':'Boisson','attr':{ 'placeholder':'La boisson qui accompagne ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form_menu.image, {'label':'Image du menu','attr':{ 'placeholder':'Image du menu ...','class':'form-control'} })}}
</div>
<div class="form-group">
 {{ form_row(form_menu.nbr_point, {'label':'Nombre de point','attr':{ 'placeholder':'Nombre de point pour ce menu ...','class':'form-control'} })}}
</div>
 <button type="submit" class="btn btn-success">Enregistrer</button> <br> <br>
  </fieldset>
 {{ form_end(form_menu)}}

{% endblock %}