{% extends 'base.html.twig' %}

{% block title %}Plaisir vie{% endblock %}

{% block body %}

<h1>Liste de menu commandé !!!</h1>
 
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Boison</th>
      <th>Image</th>
      <th>Nombre de point</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for commande in commandes %}
    <tr>
      <td>{{ commande.menu.nom }}</td>
      <td>{{ commande.menu.boisson }}</td>
      <td><img src="{{ asset('images/' ~ commande.menu.image) }}"></td>
      <td>
<span class="label label-success">{{ commande.menu.nbrpoint }}</span></td>
     <td>
        {% if commande.valide == 0 %}
        <a class="label label-default" href="{{ path('save_commande',{'id':commande.id})}}">Enregistrer</a>
      {% else %}
        <a class="label label-primary" href="{{ path('save_commande',{'id':commande.id})}}">Annuler</a>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock %}